body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    align-items: centre;
    background: white;
}

.container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.p-tags {
    border: groove rgb(255, 0 ,0);
    padding: 20px;
    margin-left: auto;
    background-image:white
    ;
}


/* nav bar */
.nav-bar {
    overflow: hidden;
    background: rgb(255, 0, 0);
    position: relative;
    top: -8px;
    right: 8px;
    padding:20px;
    font-size: 20px;
    margin-left: 0;
    margin-right: -20px;
}

/* hide links */
.nav-bar #local-links {
display: none;
}

.nav-bar a {
color: white;
text-decoration: none;
font-size: 20px;
display: block;
font-weight: bold;
}

a {
    text-align: center;
}

/* styling for nav icon */
.nav-bar a.icon {
display: block;
position: absolute;
right: 0px;
top: 0;
color: rgba(0, 0, 0, 0);
padding: 15px 15px 15px 15px;
}

/* Nav hover color change */
a:hover {
color: rgb(30, 30, 90);
}

/* styling the Nav title */
.hover {
display: block;
}

.image {
    display: inline;
    width: auto;
    height: 150px;
    padding: 20px 20px 20px 20px;
    border-style: dotted;
    margin-left: 175px;
}
/*Mobile nav bar alternative*/
@media (max-width: 480px) {
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        height:250vh;
        align-items: centre;
        background-color: white;
    }

/* styling the nav bar*/
    .nav-bar {
        overflow: hidden;
        padding:10px;
        font-size: 20px;
        background: rgb(255, 0 ,0);
        position: relative;
        top: -8px;
        right: 8px;
    }

/* hide links */
.nav-bar #local-links {
    display: none;
}

.nav-bar a {
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

a {
    text-align: unset;
}

/* styling for nav icon */
.nav-bar a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background-color: rgb(30, 30, 90);
    padding: 17px 17px 17px 17px;

}

/* Nav hover color change */
.nav-bar a:hover {
    color: rgb(30, 30, 90);
}

}