body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    align-items: centre;
    background: white;
}

.container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
/*decorating core content*/
.content_1 {
    border: groove rgb(255, 0 ,0);
    padding: 20px;
    margin-left: auto;
    background-image:white;
}

.content_2 {
    border: groove rgb(255, 0 ,0);
    padding: 20px 20px 20px 20px;
    background-image:white;
    margin: 20px 0px 20px 0px;
    float: left;
    width: 50%;
    height: auto;
}

/* nav bar */
.nav-bar {
    overflow: hidden;
    background: rgb(255, 0, 0);
    position: relative;
    top: -8px;
    right: 8px;
    padding:20px;
    font-size: 20px;
    margin: 20px 8.5% 0% 9.5%;
}

/* hide links */
.nav-bar #local-links {
display: none;
}

.nav-bar a {
float: left;
color: white;
padding: 0px 16px;
text-decoration: none;
font-size: 20px;
font-weight: bold;

}


/* styling for nav icon */
.nav-bar a.icon {
display: block;
position: absolute;
right: 0px;
top: 0;
color: rgba(0, 0, 0, 0);
padding: 15px 15px 15px 15px;
}

/* Nav hover color change */
a:hover {
color: rgb(30, 30, 90);
}

/* styling the Nav title */
.hover {
display: block;
}

.image {
    width: auto;
    height: 150px;
    padding: 20px 20px 20px 20px;
    border-style: dotted;
    float: left;
    margin: 20px 20px 20px 20px;
}

.image-2 {
    width: auto;
    height: 150px;
    padding: 100px 100px 100px 100px;
    border-style: dotted;
    float: left;
    margin: 20px 20px 20px 20px;
}
/*Mobile nav bar alternative*/
@media (max-width: 480px) {
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        height:250vh;
        align-items: centre;
        background-color: white;
    }

/* styling the nav bar*/
    .nav-bar {
        overflow: hidden;
        padding:10px;
        font-size: 20px;
        background: rgb(255, 0 ,0);
        position: relative;
        top: -8px;
        right: 8px;
        margin: 0 -20px 0 0;
    }

/* hide links */
.nav-bar #local-links {
    display: none;
}

.nav-bar a {
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-weight: bold;
    float: unset;
}

a {
    text-align: unset;
}

/* styling for nav icon */
.nav-bar a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 90);
    padding: 17px 17px 17px 17px;

}

/* Nav hover color change */
.nav-bar a:hover {
    color: rgb(30, 30, 90);
}

.hover {
    display: block;
    }

.image {
    width: 60%;
    height: 200px;
    padding: 20px 20px 20px 20px;
    border-style: dotted;
    float: left;
    margin: 20px 20px 20px 0px;
}
.image-2 {
    width: 60%;
    height: 200px;
    padding: 40px 40px 40px 40px;
    border-style: dotted;
    margin: 20px 20px 20px 0px;
}

.content_2 {
    border: groove rgb(255, 0 ,0);
    padding: 20px;
    margin: 20px 0px 20px 0px;
    background-image:white;
    width: 88%
}

}